name: "Update SPC & Funnel Chart Libraries"
on:
  workflow_dispatch:
permissions:
  contents: write

jobs:
  update-lib:
    name: "Update ${{ matrix.library }} Library"
    runs-on: "ubuntu-latest"
    env:
      REPO_NAME: ""
      LIB_NAME: ""
      YAML_NAME: ""
      PBIVER: ""
    strategy:
      matrix:
        library: [SPC, Funnel]
      max-parallel: 1

    steps:
    - uses: actions/checkout@v6

    - name: Set name variables
      run: |
        if [ "${{ matrix.library }}" == "SPC" ]; then
          echo "REPO_NAME=PowerBI-SPC" >> $GITHUB_ENV
          echo "LIB_NAME=PBISPC" >> $GITHUB_ENV
          echo "YAML_NAME=spc" >> $GITHUB_ENV
        elif [ "${{ matrix.library }}" == "Funnel" ]; then
          echo "REPO_NAME=PowerBI-Funnels" >> $GITHUB_ENV
          echo "LIB_NAME=PBIFUN" >> $GITHUB_ENV
          echo "YAML_NAME=funnel" >> $GITHUB_ENV
        fi

    - name: Clone ${{ env.REPO_NAME }} Repo
      uses: actions/checkout@v6
      with:
        repository: "AUS-DOH-Safety-and-Quality/${{ env.REPO_NAME }}"
        path: ${{ env.REPO_NAME }}

    - name: Install ${{ env.LIB_NAME }} and Replace Bundle
      run: |
        npm install
        npm run bundle
        mv .tmp/build/${{ env.LIB_NAME }}.js ../inst/htmlwidgets/lib/${{ env.LIB_NAME }}
      working-directory: ${{ env.REPO_NAME }}

    - name: Update htmlwidgets YAML config for ${{ env.LIB_NAME }}
      run: |
        PBIVER=$(jq '.visual.version' ${{ env.REPO_NAME }}/pbiviz.json | sed 's/"//g')
        echo "PBIVER=$PBIVER" >> $GITHUB_ENV
        sed -i "/- name: ${{ env.LIB_NAME }}/{n;s/version: .*/version: $PBIVER/;}" inst/htmlwidgets/${{ env.YAML_NAME }}.yaml
        rm -rf ${{ env.REPO_NAME }}

    - name: Commit and Push Changes
      run: |
        git pull
        if [[ -n "$(git status -s)" ]]; then
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add inst/htmlwidgets/lib/${{ env.LIB_NAME }} inst/htmlwidgets/${{ env.YAML_NAME }}.yaml
          git commit -m "Update ${{ env.LIB_NAME }} library to version ${{ env.PBIVER }}"
          git push
        else
          echo "No changes to commit."
        fi
